* {
    margin: 0;
    padding: 0;
}
Footer{
    width:1920px;
    Height:474px;
    Top:8105.93px;
    padding:140px, 220px, 32px, 220px;
    background-color: #043873;
    gap: 200px;


}
.menu a {
    padding: 12px;
    color:white;
    text-decoration: none;


}